@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Press+Start+2P&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:44%
}

.container h2{
    color: #333;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container p{
    color: #333;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container button{
    display: flex;
width: 307px;
padding: 18px 26px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 30px;
background: #0575E6;
color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.container input{
    display: flex;
width: 307px;
padding: 18px 26px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
border-radius: 30px;
border: 1px solid #EEE;
background: #FFF;
}